<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}URL Shortener{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/icons.js"></script>
  </body>
</html>